.niktin-jumbotron {
    position: relative;
    height: 300px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.niktin-jumbotron > img {
    position: absolute;
    margin: auto;
    display: block;

    min-height: 300px;
    height: auto;
    width: 100%;

    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

.niktin-jumbotron-mask {
    width: 100%;
    height: 300px;
    position: absolute;
    background: rgba(0, 0, 0, 0.28);
}

.niktin-main-content {
    position: relative;
    background: #fff;
    top: -100px;
    width: 90%;
    margin: 0 5%;
    border-radius: 2px;
    box-shadow: 0 0 4px #ccc;
    z-index: 100;
    overflow: scroll;
}

.niktin-blog {
    padding: 70px 0;
    border-radius: 2px;
    width: 80%;
    margin: 0 10%;
}

.niktin-main-title {
    font-size: 2em;
    margin: 10px 0;
    color: #000;
    font-weight: 500;
    display: block;
    word-wrap: break-word;
}

.niktin-main-credentials {
    color: #666;
    font-size: 0.9em;
    overflow: hidden;
    border-bottom: 2px solid #f4f4f4;
}

.niktin-main-credentials-author {
    float: left;
    margin-bottom: 5px;
}

.niktin-main-credentials-date {
    float: right;
    margin-bottom: 5px;
}

.niktin-main-tags {
    color: #069;
    font-size: 0.85em;
    margin-bottom: 5px;
    height: 2em;
    overflow: hidden;
}

.niktin-main-tags > ul {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}

.niktin-main-tags > ul > li {
    display: inline;
}

.niktin-main-tags-divider {
    color: #999;
    margin: 0 5px;
}

.niktin-main-description {
    margin: 40px 0;
}

.social-share {
    padding: 0 0 10px 0;
    width: 80%;
    margin: 0 10%;
}

.social-share > p {
    margin: 0 0 0 5px;
    padding: 0;
}

.social-share > ul {
    list-style-type: none;
    padding: 0;
}

.social-share > ul > li {
    display: inline;
    width: 28px;
    height: 28px;
    overflow: hidden;
}

.comment-box {
    position: relative;
    background: #fff;
    top: -70px;
    width: 90%;
    margin: 0 5%;
    padding: 10px 10%;
    border-radius: 2px;
    box-shadow: 0 0 4px #ccc;
    z-index: 100;
    overflow: scroll;
}

.comment-box-main {
    width: 100%;
}

.comment-box-main > h6 {
    color: #666;
}

.comment-box-main > form {
    width: 100%;
}

.comment-box-main > form > textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #efefef;
    padding: 8px;

    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.comment-box-main > form > textarea:focus {
    color: #666;
    border: 1px solid #ccc;

    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.comment-box-bottom {
    width: 100%;
    overflow: hidden;
}

.comment-box-bottom-outer {
    margin: 0;
    padding: 0 10px 0 0;
}

.comment-box-bottom-outer > input {
    margin: 5px 0 5px 0;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #efefef;

    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.comment-box-bottom-outer > input:focus {
    color: #666;
    border: 1px solid #ccc;

    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.niktin-comment-button {
    margin: 5px 0;
    height: 36px;
    border-radius: 4px;
    background: #069;
    color: #fff;
    border: none;
    font-size: 14px;
    float: right;
    box-shadow: none;
}

.niktin-comment-button:hover {
    background: #069;
    color: #fff;
    border: none;
}

.comments-showcase-box {
    position: relative;
    background: #fff;
    top: -60px;
    width: 90%;
    margin: 0 5%;
    padding: 10px 10%;
    border-radius: 2px;
    box-shadow: 0 0 4px #ccc;
    z-index: 100;
    overflow: scroll;
}

.comments-showcase-box-main {
    width: 100%;
    padding-top: 20px;
}

.comments-showcase-box-main > div {
    padding: 0;
}

.comments-showcase-box-main > div > h5 {
    color: #666;
    font-size: 14px;
    margin: 4px 10px 4px 0;
    float: left;
    font-weight: 600;
}

.comments-showcase-box-main > div > p {
    color: #999;
    font-size: 12px;
    margin: 4px 10px 4px 0;
    float: left;
}

.comments-showcase-box-main > p {
    color: #333;
    font-size: 12px;
}

.comment-success-message {
    width: 100%;
}