{% extends 'home/index_amp.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block amp_page_link %}
{% endblock %}

{% block load_top_scripts %}
{% endblock %}

{% block custom_amp_style %}
{% endblock %}

{% block navigation_links %}
{% endblock %}

{% block carousel_header %}
{% endblock %}

{% block main_body %}
{% endblock %}

{% block videos %}
{% endblock %}

{% block subscribe %}
{% endblock %}

{% block connect %}
{% endblock %}

{% block delights %}
{% endblock %}

{% block newsmails %}
{% endblock %}

{% block load_bottom_scripts %}
{% endblock %}