{% extends 'home/index.html' %}
{% load staticfiles %}

{% block load_files %}
    <link href="{% static 'home/home.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block main_body %}
    <div class="jumbotron niktin-jumbotron">
        {% if welcome.img_url == '#' %}
            <img class="lazy" data-src="{% static 'home/images/bg.jpg' %}" alt="Plastic Packaging">
        {% else %}
            <img class="lazy" data-src="{{ welcome.img_url }}" alt="{{ welcome.img_alt_tag }}">
        {% endif %}
        <div class="row niktin-jumbotron-content">
            <div class="niktin-intro-title">{{ welcome.title }}</div>
            <div class="niktin-intro-description">{{ welcome.content }}</div>
        </div>
    </div>

    <div class="container niktin-quote-container">
        <div class="niktin-quote-content"><span> “ </span>{{ quote.quote }}<span> ” </span></div>
        {% if quote.author != '#' %}
            <div class="niktin-quote-author">{{ quote.author }}</div>
        {% endif %}
    </div>

    <div class="niktin-main-content">
        <div class="col-md-8">
            <div class="row niktin-main">
                <section>
                    <h3 class="niktin-main-heading">LATEST BLOGS</h3>
                    {% for blog in blogs %}
                        <article itemscope itemtype="http://schema.org/Article">
                            <a itemprop="url" href="{% url 'blog:blog_detail' blog.id %}">
                                <div class="col-md-6 col-sm-6 niktin-blog">
                                    <div class="niktin-blog-image">
                                        {% if blog.img_url == '#' %}
                                            <img class="lazy" itemprop="image" data-src="{% static 'home/images/bg.jpg' %}"
                                                 alt="Plastic Packaging">
                                        {% else %}
                                            <img class="lazy" itemprop="image" data-src="{{ blog.img_url }}" alt="{{ blog.img_alt_tag }}">
                                        {% endif %}
                                    </div>
                                    <h1 itemprop="name" class="niktin-blog-title">{{ blog.title }}</h1>
                                    <div class="niktin-blog-credentials">
                                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                        <p itemprop="name" class="niktin-blog-credentials-author">{{ blog.author }}</p>
                                        </span>
                                        <p itemprop="datePublished" content="{{ blog.created_at|date:"o-m-d\TH:i" }}"
                                           class="niktin-blog-credentials-date">{{ blog.created_at|date:"d M o, H:i" }}</p>
                                    </div>
                                    <div class="niktin-blog-tags">
                                        <ul>
                                            {% for tag in blog.blogtag_set.all %}
                                                <li itemprop="articleSection">{{ tag.tag }}</li>
                                                <li class="niktin-blog-tags-divider"> /</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% if blog.summary == '#' %}
                                        <span itemprop="articleBody">
                                        <div class="niktin-blog-description">{{ blog.content|safe }}</div>
                                        </span>
                                    {% else %}
                                        <span itemprop="articleBody">
                                        <div class="niktin-blog-description">{{ blog.summary }}</div>
                                        </span>
                                    {% endif %}
                                </div>
                            </a>
                        </article>
                    {% endfor %}

                    {% if blog_exceed %}
                        <a href="{% url 'blog:blogs' %}">
                            <div class="col-md-12 col-sm-12 col-xs-12 niktin-button-viewall">
                                <button type="button" class="btn btn-default">VIEW ALL BLOGS</button>
                            </div>
                        </a>
                    {% endif %}
                </section>
            </div>

            <div class="row niktin-main">
                <section>
                    <h3 class="niktin-main-heading">LATEST VIDEOS</h3>

                    {% for video in videos %}
                        <div class="col-md-6 col-sm-6 niktin-video">
                            <div class="niktin-video-frame">
                                {{ video.video_embed_url|safe }}
                            </div>
                        </div>
                    {% endfor %}

                    {% if video_exceed %}
                        <a href="{% url 'video:videos' %}">
                            <div class="col-md-12 col-sm-12 col-xs-12 niktin-button-viewall">
                                <button type="button" class="btn btn-default" href="">VIEW ALL VIDEOS</button>
                            </div>
                        </a>
                    {% endif %}
                </section>
            </div>
        </div>

        <div class="col-md-4">

            <div class="col-md-12 col-sm-6 niktin-main" id="subscribe">
                <section>
                    <h3 class="niktin-main-heading">SUBSCRIBE TO ADURCUP</h3>
                    <form class="input-group niktin-subscribe" action="{% url 'subscribe' %}" method="POST">
                        {% csrf_token %}
                        <input type="email" class="form-control" placeholder="youremail@domain.com" name="email"
                               required>
                        <span class="input-group-btn">
						<button class="btn btn-default niktin-subscribe-button" type="submit" value="SUBSCRIBE">SUBSCRIBE</button>
					</span>
                    </form>
                    <div class="col-md-12 subscribe-success-message">
                        {% if messages %}
                            {% for message in messages %}
                                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </section>
            </div>

            <div class="col-md-12 col-sm-6 niktin-main">
                <section>
                    <h3 class="niktin-main-heading">CONNECT WITH US</h3>
                    <ul class="col-md-12 niktin-social">
                        <li><a href="https://www.adurcup.com/" target="_blank"><img
                                src="{% static 'home/images/www.png' %}"></a></li>
                        <li><a href="https://www.facebook.com/adurcup.care/" target="_blank"><img
                                src="{% static 'home/images/Facebook.png' %}"></a></li>
                        <li><a href="https://twitter.com/adurcup" target="_blank"><img
                                src="{% static 'home/images/Twitter.png' %}"></a></li>
                        <li><a href="https://www.linkedin.com/company/adcount-technologies-pvt-ltd" target="_blank"><img
                                src="{% static 'home/images/Linked-in.png' %}"></a></li>
                        <li><a href="https://www.instagram.com/adurcup/" target="_blank"><img
                                src="{% static 'home/images/Instgram.png' %}"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCrbAbIJJ7FSFSUPhURBDtAQ" target="_blank"><img
                                src="{% static 'home/images/YouTube.png' %}"></a></li>
                    </ul>
                </section>
            </div>

            <div class="col-md-12 col-sm-12 niktin-main">
                <section>
                    <h3 class="niktin-main-heading">Restaurant Delights</h3>

                    {% for delight in delights %}
                        <div class="col-md-12 col-sm-6 col-xs-12  niktin-side hover-disable">
                            <div class="col-md-12 niktin-side-delight">
                                <p class="niktin-side-delight-number">{{ delight.number }}</p>
                                <p class="niktin-side-delight-content">{{ delight.content }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    {% if delight_exceed %}
                        <a href="{% url 'delight:delights' %}">
                            <div class="col-md-12 col-sm-12 col-xs-12 niktin-button-viewall">
                                <button type="button" class="btn btn-default">VIEW ALL DELIGHTS</button>
                            </div>
                        </a>
                    {% endif %}
                </section>
            </div>

            <div class="col-md-12 col-sm-12 niktin-main">
                <section>
                    <h3 class="niktin-main-heading">Adurcup Newsmails</h3>

                    {% for newsmail in newsmails %}
                        <a href="{% url 'newsmail:newsmail_detail' newsmail.id %}">
                            <div class="col-md-12 col-sm-6 col-xs-12 niktin-side">
                                <div class="col-md-4 col-xs-3 niktin-side-newsmail">
                                    {% if newsmail.img_url == '#' %}
                                        <img class="lazy" data-src="{% static 'home/images/bg.jpg' %}" alt="Plastic Packaging">
                                    {% else %}
                                        <img class="lazy" data-src="{{ newsmail.img_url }}" alt="{{ newsmail.img_alt_tag }}">
                                    {% endif %}
                                    <div class="niktin-side-newsmail-mask"></div>
                                    <div class="niktin-side-newsmail-inline">
                                        <div class="niktin-side-newsmail-wrap">
                                            <h3>{{ newsmail.title }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}

                    {% if newsmail_exceed %}
                        <a href="{% url 'newsmail:newsmails' %}">
                            <div class="col-md-12 col-sm-12 col-xs-12 niktin-button-viewall">
                                <button type="button" class="btn btn-default">VIEW ALL NEWSMAILS</button>
                            </div>
                        </a>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
