{% extends 'home/index.html' %}
{% load staticfiles %}

{% block title %}Adurcup Newsmail : {{ newsmail.title }}{% endblock %}

{% block load_files %}
    <link rel="amphtml" href="{{ amp_url }}">
    <link href="{% static 'newsmail/newsmail_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_active %}
    <li><a href="{% url 'home:home' %}" itemprop="url"><span itemprop="name">Home</span></a></li>
    <li><a href="{% url 'blog:blogs' %}" itemprop="url"><span itemprop="name">Blogs</span></a></li>
    <li><a href="{% url 'delight:delights' %}" itemprop="url"><span itemprop="name">Delights</span></a></li>
    <li><a href="{% url 'newsmail:newsmails' %}" itemprop="url"><span itemprop="name">NewsMails</span></a></li>
    <li><a href="{% url 'video:videos' %}" itemprop="url"><span itemprop="name">Videos</span></a></li>
{% endblock %}

{% block main_body %}
    <div class="niktin-main-content" style="background: url({% static 'home/images/snow.png' %})">
        <!-- Example row of columns -->
        <div class="niktin-blog">
            <p class="niktin-newsmail-heading">ADURCUP NEWSMAIL</p>
            <h2 class="niktin-main-title">{{ newsmail.title }}</h2>
            <p class="niktin-main-subtitle">{{ newsmail.updated_at|date:"l" }}, {{ newsmail.updated_at|date:"d-M-o" }}</p>
            <div class="niktin-newsmail-divider-big"></div>
            <div class="niktin-newsmail-divider-small"></div>
            {% if newsmail.img_url != '#' %}
                <div class="niktin-newsmail-image">
                    <img class="lazy" data-src="{{ newsmail.img_url }}" alt="{{ newsmail.img_alt_tag }}">
                </div>
            {% endif %}
            <div class="niktin-main-description">{{ newsmail.content|safe }}</div>
            <div class="niktin-main-tags">
                <ul>
                    {% for tag in newsmail.newsmailtag_set.all %}
                        <li>{{ tag.tag }}</li>
                        <li class="niktin-main-tags-divider">|</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="niktin-newsmail-credentials-author">Content prepared by {{ newsmail.author }}</div>
        </div>
    </div>
{% endblock %}
