{% extends 'home/index_amp.html' %}
{% load staticfiles %}

{% block title %}Adurcup Blogs{% endblock %}

{% block amp_page_link %}
    <link rel="canonical" href="{{ amp_url }}">
{% endblock %}

{% block navigation_links %}
    <li class="sidebar-link"><a href="{% url 'home_amp' %}" itemprop="url"><span itemprop="name">Home</span></a></li>
    <li class="sidebar-link active"><a href="{% url 'blogs_amp' %}" itemprop="url"><span itemprop="name">Blogs</span></a></li>
    <li class="sidebar-link"><a href="{% url 'delights_amp' %}" itemprop="url"><span itemprop="name">Delights</span></a></li>
    <li class="sidebar-link"><a href="{% url 'newsmails_amp' %}" itemprop="url"><span itemprop="name">NewsMails</span></a></li>
    <li class="sidebar-link"><a href="{% url 'videos_amp' %}" itemprop="url"><span itemprop="name">Videos</span></a></li>
{% endblock %}

{% block carousel_header %}
{% endblock %}

{% block main_body %}
    <div class="section">
        <p class="section-heading">ADURCUP BLOGS</p>
        {% for blog in blogs %}
            <article itemscope itemtype="https://schema.org/CreativeWork">
                <a itemprop="url" href="{% url 'blog_detail_amp' blog.id %}">
                    <div class="blog-box">
                        <div class="blog-box-image-box">
                            {% if blog.img_url == '#' %}
                                <amp-img itemprop="image" src="{% static 'home/images/bg.jpg' %}" alt="Plastic Packaging" width="400"
                                         height="300"
                                         layout="responsive">>
                                </amp-img>
                            {% else %}
                                <amp-img itemprop="image" src="{{ blog.img_url }}" alt="{{ blog.img_alt_tag }}" width="400" height="300"
                                         layout="responsive">>
                                </amp-img>
                            {% endif %}
                        </div>
                        <h1 itemprop="headline" class="blog-box-heading">{{ blog.title }}</h1>
                        <div class="blog-box-author-and-date">
                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <p itemprop="name" class="blog-box-author">{{ blog.author }}</p>
                            </span>
                            <p itemprop="datePublished"
                                               content="{{ blog.created_at|date:"o-m-d\TH:i" }}" class="blog-box-date">{{ blog.created_at|date:"d M o, H:i" }}</p>
                        </div>
                        <ul class="blog-box-tags">
                            {% for tag in blog.blogtag_set.all %}
                                <li class="blog-box-tag">{{ tag.tag }}</li>
                                <li class="blog-box-tag-divider">/</li>
                            {% endfor %}
                        </ul>
                        {% if blog.summary == '#' %}
                            <p itemprop="text" class="blog-box-summary">{{ blog.content|safe }}</p>
                        {% else %}
                            <p itemprop="text" class="blog-box-summary">{{ blog.summary }}</p>
                        {% endif %}
                    </div>
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block videos %}
{% endblock %}

{% block delights %}
{% endblock %}

{% block newsmails %}
{% endblock %}

{% block load_bottom_scripts %}
{% endblock %}